<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>LIST APP</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <a href="/" class="header-logo">LIST APP</a>
        </header>
        <div class="container">
            <div class="container-header">
                <h1>買う物リスト</h1>
                <a href="/new" class="new-button">+ 新規作成</a>
            </div>
        </div>
        <div class="index-table">
            <div class="table-head">
                
                <span>買うもの</span>
            </div>
            <ul class="table-body">
    　　　　    <% items.forEach((item) => { %> 
                    <li>
                        <div class="item-data">
                            <span>・</span>
                            <span class="name-column"><%= item.name %></span>
                        </div>
                        <div class="item-menu">
                            <form action="/delete/<%= item.id %> " method="POST">
                                <input class="delete-button"  type="submit" value="削除">
                            </form>
                            <a class="edit-button" href="/edit/<%= item.id %>">編集</a>
                        </div>
                    </li>
                <% }) %>      
            </ul>
        </div>
    </body>
</html>