<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>LIST APP</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <a href="/" class="header-logo">LIST APP</a>
        </header>
        <div class="container">
            <div class="container-header">
                <h1>買い物リスト作成</h1>
            </div>
            <div class="item-form">
                <p class="form">買うもの</p>
                    <form action="/create" method="POST">
                         <input type="text" name="itemName">
                         <input class="add-button" type="submit" value="作成する">
                    </form>
                <div>
                    <a href="/index" class="cansel-button">もどる</a>
                </div>
            </div>
        </div>
    </body>
</html>