/*top*/
.title {
    color: blueviolet;
    font-size: 80px;
    font-family: monospace;
    background-color: rgb(211, 170, 205);
    padding: 20px;
    text-align: center;
    margin-bottom: 0px;
}

.top-wrapper {
    height: 200px;
    margin-top: 0px;
    background-color: lemonchiffon;
}

.button {
    padding: 70px 0;
}

.index-button {
    display: block;
    width: 100px;
    padding: 20px 30px;
    margin: 0 auto;
    background-color: rgba(83, 49, 22, 0.61);
    text-align: center;
    color: rgba(255, 248, 220, 0.623);
    border-radius: 60px;
}

.index-button:hover {
    background-color: rgb(102, 30, 2);
    text-decoration: none;
}

.top-image {
    text-align: center;
    background-color: lemonchiffon;
    padding-bottom: 70px;
}

/*index*/
header {
    background-color: darkseagreen;
    padding: 20px 0;
}

.header-logo {
    color: white;
    padding: 24px;
    text-decoration: none;
    font-size: 40px;
}

.container {
    background-color: lemonchiffon;
}

.container-header {
    display: flex;
    padding-top: 20px;
    padding-left: 250px;
    color: midnightblue;
}

.new-button {
    background-color: rgba(137, 43, 226, 0.37);
    color: white;
    margin: 20px 0 20px 700px;
    padding: 20px 20px;
    text-align: center;
    border-radius: 40px;
}

.index-table {
    height: 500px;
    background-color: lemonchiffon;
}

.table-body li {
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.table-head {
    display: flex;
    background-color: rgba(81, 122, 134, 0.5);
    margin : 0 200px;
    padding: 20px 20px 20px 50px;
    color: darkslategray;
    font-size: 25px;
}



.table-body {
    background-color: rgba(211, 211, 211, 0.5);
    margin: 0 200px;
    padding: 0px 50px;
    color: darkslategray;
    font-size: 25px;
}

.id-column {
    padding-right: 50px;
}

.item-menu {
    display: flex;
    padding: 10px 30px;
}

.delete-button {
    background-color: rgba(144, 238, 144, 0.562);
    padding: 10px 10px;
    border: 2px solid lightyellow;
    color: lightyellow;
    cursor: pointer;
}

.edit-button {
    padding: 10px;
    font-size: 13px;
    color: lightyellow;
    background-color: rgba(144, 238, 144, 0.562);
    margin-left: 10px;
    border: 2px solid lightyellow;
}

/*new*/
.item-form {
    text-align: center;
    height: 400px;
}

.form {
    font-size: 45px;
    color: rgba(220, 20, 60, 0.849);
}

.item-form input[type="text"] {
    width: 700px;
    height: 40px;
    margin-top: 8px;
    padding: 12px 16px;
    background-color: #fcfcfd;
    border: 1px solid #bac6d3;
    border-radius: 2px;
    color: #2b546a;
    font-size: 12px;
}

.add-button {
    background-color: rgba(0, 139, 139, 0.603);
    color: white;
    padding: 15px 15px;
    border: white;
}

.item-form input[type="submit"]:hover {
    background-color: rgb(59, 240, 240);
}

.cansel-button {
    color: gray;
    font-size: 20px;
}

.item-menu {
    padding: 15px 15px;
}

/*edit*/
